# Node modules (НИКОГДА не коммитим!)
node_modules/
src/js/node_modules/
**/node_modules/

# Бинарники
*.o
*.exe
vuln_demo
vuln_demo_fixed
fuzzer
hfuzzer
xml_fuzzer

# Crash files (слишком большие)
crashes/crash-*
hfuzz_crashes/
**/crashes/crash-*

# Python
__pycache__/
*.pyc
.env

# OS файлы
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# DefectDojo данные
defectdojo/

# MinIO данные
minio-data/

# HonggFuzz
honggfuzz/
